@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

body {
    background-color: #F3F3F3;
}

.employee img {
    display: inline-block;
    position: relative;
    margin-right: 0.75rem;
    border-radius: 100%;
    max-width: 2.5rem;
    max-height: 2.5rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.employee p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1rem;
    text-align: left;
}

.task-card>p {
    font-size: 13px;
}

.task-card :nth-child(2) {
    font-weight: 600;
}

.vis-item {
    padding: 0.25rem;
    border-radius: 0.5rem !important;
    user-select: none;
    cursor: move;
    position: relative;
    border: none !important;
}
.vis-item.vis-selected {
    border: solid 2px #E03636 !important;
    background-color: #B7B7B7 !important;
}
.vis-item[task-type="1"] {
    background-color: #EEEEEE;
}
.vis-item[task-type="0"] {
    background-color: #008127 !important;
    color: #FFFFFF !important;
    cursor: auto;
}
.vis-editable.vis-selected, .vis-item .vis-drag-center {
    cursor: move !important;
}
.vis-item .vis-delete {
    display: none !important;
}
.employee>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.vis-current-time {
    background-color: #171717 !important;
    width: 1px;
}
.vis-labelset .vis-label, .vis-foreground .vis-group {
    min-height: 67px;
}
.vis-labelset>.vis-group-level-0 {
    display: flex;
    overflow: hidden;
    border-right-width: 1px;
    align-items: center;
    border-bottom-width: 1px;
    max-width: 10rem;
    text-align: center;
}

.vis-timeline {
    border: 1px solid #ededed !important;
    border-radius: 0.5rem;
}

.vis-labelset .vis-label,
.vis-foreground .vis-group {
    border-bottom: 1px solid #ededed !important;
}

.vis-time-axis .vis-text {
    font-size: 13px;
}
.rounded-full {
    border-radius: 9999px !important;
}
.button-field {
    background: transparent;
    border: none;
}
.datepicker-icon {
    position: absolute;
    top: 5px;
    right: 10px;
}
.dp__calendar {
    font-family: 'InterVar';
}
.dp__range_end, .dp__range_start, .dp__active_date, .dp__overlay_cell_active {
    background: #171717 !important;
    color: #fff !important;
}
.dp__today {
    border: 1px solid #171717 !important;
}